h1{
  text-align: center;
}
h2{
  text-align: center;
}
.muse{
    text-align: center;

  }
.two{
    text-align: center;
  }
body{
  background-image:url("../images/math2.jpeg");
  background-attachment: fixed;
  font-family: sans-serif;
  background-size: cover;

}
img{



}
