h1{
  text-align: center;
}
h2{
  text-align: center;
}
.muse{
    text-align: center;
    text-decoration-color: blue;
  }
.two{
    text-align: center;
  }
body{
  background-color: blue;
  background-image: url("../images/math.jpeg");
  background-attachment: fixed;
  font-family: sans-serif;
  background-size: cover;

}
img{



}
